.nav {
    background-color: #949c81;
    height: 100px;
}
.left {
    background-color: #efc1a9;
    height: 742px;
}
.right {
    background-color: #ee9c81;
}
.footer {
    background-color: #3e503c;
    height: 100px;
}